@import "tailwindcss";

* {
    /* outline: none;
    border: none; */
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.87);
}

body #root {
    width: 100%;
    height: 100vh;
    color: black;
}

.App {
    height: 100%;
    width: 100%;
}